<!doctype html>
html
  head
    title hello world
  body
    h1 yes this is it
    h2 haha
    script.
      var a = 1;
      console.log(a + 1);
    a(href="#") said
    div(id="div1")
      article
        h1 asa
        h2 sdsadssadsdasd
        h3 sss
